/* footer */
footer.main-footer .copyrights {
    background: #090909;
    margin-top: 40px;
    padding: 20px 0;
    font-size: 0.9em;
  }

/* index */
body {
    margin:0;
}

.section-padding-40 {
    padding-top: 40px;
    padding-bottom: 60px; }

.single_catagory_area {
    margin-bottom: 30px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-40 {
    padding-top: 40px;
}

#besar {
    font-size: 20px;
}

/* product */
section {
    padding: 0;
    overflow-x: hidden;
  }

.page-item {
    color:white;
}
.navbar {
    background: #fff;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    z-index: 9998;
    border-bottom: 1px solid #ddd;
}

img{
    max-height:400px;
}

/* admin */
.garis {
    border-left: 1px solid #ddd;
}

.border-all {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

/* btn essence */
.essence-btn {
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #1900ff;
    letter-spacing: 1.5px;
    font-weight: 600; }
    .essence-btn:hover, .essence-btn:focus {
      color: #ffffff;
      background-color: #120680; }

.essence-btn-red {
  display: inline-block;
  min-width: 170px;
  height: 50px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 40px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 50px;
  background-color: #ff5757;
  letter-spacing: 1.5px;
  font-weight: 600; }
  .essence-btn-red:hover, .essence-btn-red:focus {
    color: #ffffff;
    background-color: #ff0000; }
  

/* login */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #686868;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0315ff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #01086e;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0315ff;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}